.section-features {
  
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      #0767acc5,
      rgba(73, 3, 113, 0.884)
    ),
    url(../assets/pics/sean.jpg);
  background-size: cover;
  margin-top: -11rem;
  margin-bottom: -20vh;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(
      7deg
    ); // its supposed to set the tiles in the correct tilt but its not
  }
}

